@media screen and ( max-height: 600px )
    .hero
        &__sroll-down
            display: none
@media screen and ( max-width: 1310px )
    body
        font-size: 0.9rem
@media screen and ( max-width: 1270px )
    .contacts
        &__phone
            margin-right: 0.8rem
    .nav
        &__item
            margin-right: 1.85714rem
    .section-title
        &__desctiption
            margin: 0
    .projects
        &__section-title
            margin: 0
    .swiper-slide
        margin-bottom: 1.5rem
        &__content
            width: 90%
            margin-bottom: 1rem
        &__item
            margin-bottom: 0.11rem
@media screen and ( max-width: 1200px )
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem
@media screen and ( max-width: 992px )
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
    .row
        flex-direction: column
        align-items: center 
    .types
        &__card
            margin-bottom: 6rem
    .card
        &__text
            margin-left: 0
    .dising
        background: $dark
        &__title
            color: $light
        &__description
            color: $light
    .col-50
        width: 100%
    .goals
        display: none
@media screen and ( max-width: 576px )
    html
        font-size: 12px
    .container
        width: 90.5%
        margin: 0 auto
    .section-title
        &__heading
            font-size: 1.828rem
            &--fz27
                font-size: 1.7rem
                margin-top: 0
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.91rem
    .hero
        justify-content: start
        padding-top: 145px
        &__sroll-down
            display: none
        &__content
            min-width: 22.86rem
        &__text
            font-size: 1.5rem
            margin-bottom: 2.88rem
        &__button
            display: block
            min-width: 100%
            margin-bottom: 2.15rem
            font-size: 1.08rem
    .types
        &__title
            margin-bottom: 3.3rem
    .card
        &__text
            margin-top: -10.4rem
            max-width: 22.5rem
        &__price-tag
            bottom: -0.9rem
            padding: 1.014rem 2.6rem
    .dising
        &__description
            max-width: 85%
            margin-bottom: 4.757rem
            font-size: 1.25rem
            line-height: 1.72rem
        &__price-tag
            padding-left: 3.9rem
            padding-right: 4rem
    .projects
        padding: 0
        &__section-title
            margin-bottom: 2rem
    .section-title
        &__word
            &::after
                display: none
        &__desctiption
            font-size: 1.2rem
            line-height: 160%
            max-width: 305px
    .swiper
        &-slide
            &__content
                width: 93%
            &__title
                margin-bottom: 1rem
                font-size: 1.2rem
            &__desctiption
                font-size: 1.2rem
            &__item
                margin-bottom: 1.5rem