*,*:after,*:before
    box-sizing: border-box
html
    font-size: 14px
img
    max-width: 100%
body
    font-size: 1rem
    font-family: 'Futura Book', sans-serif
.section
    &-title
        font-family: 'Yeseva One', cursive
        text-align: center
        text-transform: uppercase
        &__heading
            font-size: 1.428rem
        &__image
            display: flex
            align-items: center
            justify-content: center
            &:before, &:after
                content: ''
                width: 32px
                height: 2px
                margin: 0 10px
                background-color: $primary
.label
    font-size: 1.071rem
    color: rgba($light, 0.5)
.input
    padding: 0.5rem 0
    background-color: transparent
    color: $light
    border: none
    border-bottom: 1px solid rgba($light, 0.15)
    &::placeholder
        font-size: 1.285rem
        color: $light
    &:last-of-type
        margin-bottom: 1.14rem
