@import 'normalize'
@import 'variables'
@import 'grid'
@import 'interface'
@import 'fonts'
@import 'settings'
@import 'templates/header'
@import 'templates/hero'
@import 'templates/control'
@import 'templates/types'
@import 'templates/dising'
@import 'templates/modal'
@import 'media'

.button-up
    opacity: 0 
    position: fixed
    bottom: 20px
    right: 50px
    width: 70px
    height: 70px
    border: none
    background: url(../img/rocket.svg) no-repeat center / cover