.dising
    padding-top: 9.7rem
    background: linear-gradient(to top, $dark 50%, $light 50%)
    &__title
        margin-bottom: 1.54rem
    &__description
        max-width: 53rem
        margin: 0 auto
        margin-bottom: 3.657rem
        text-align: center
        font-size: 1.428rem
        line-height: 1.92rem
    &__price-tag
        bottom: -1.7rem
        padding-left: 2.37rem
        padding-right: 3rem
        padding-right: 5.4rem
        text-align: left